*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.app-wrapper{
	width: 100%;
	height: 100vh;
	
}

/*Desktop sopra <1100px*/
main{
	background-color: aqua;
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
}

footer{
	background-color: blue;
	width: 100%;
	height: 100px;
	overflow: hidden;
	
}
/*main*/
.left-nav{
	background-color: brown;
	width: 250px;
	overflow-y: hidden;
}
.main-content{
	background-color: coral;
	width: calc(100% - 250px);
	overflow-y: scroll;

}

/*banner*/
.upgrade-banner{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	position: fixed;
	top: 0;
	right: 0;
	height: 75px;
	width: calc(100% - 250px);

}